@media (max-width: 1024px) {
  .modal__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .table {
    margin-top: 10px;
  }
  .table__list-item + .table__list-item {
    margin-top: 0;
  }
  .devices__laptop {
    width: 365px;
    height: 210px;
  }
  .devices__laptop-screen {
    width: 285px;
    height: 182px;
  }
  .devices__mobile {
    height: 210px;
  }
  .devices__mobile-screen {
    width: 92px;
    height: 200px;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

@media (max-width: 991px) {
  .main__title {
    font-size: 35px;
    line-height: 42px;
    width: 400px;
  }
  .main__text {
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .main__inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title {
    margin-bottom: 60px;
  }
  .services,
  .projects,
  .technologies {
    padding: 60px 0;
  }
  .footer {
    padding: 60px 0 15px;
  }
  .items__slide:nth-child(1) {
    margin-top: 0;
  }
  .items__slide:nth-child(3) {
    margin-top: 0;
  }
  .items__slide:nth-child(5) {
    margin-top: 0;
  }
  .footer__social {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .social-list__item {
    margin-bottom: 20px;
  }
  .services__img {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .feedback__item.slick-slide {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .main__img {
    width: 200px;
    height: 200px;
  }
  .services__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .services__img {
    margin-bottom: 20px;
  }
  .services__list {
    margin-left: 0;
  }
  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
  .header__menu-item {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .page {
    font-size: 16px;
  }
  .header__menu {
    display: none;
  }
  .header__menu--visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__menu-item + .header__menu-item {
    margin: 0;
    margin-top: 30px;
  }
  .header__nav-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 102;
  }
  .main__inner {
    padding: 35px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__title {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    max-width: 320px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
  .main__text {
    font-size: 20px;
    line-height: 26px;
  }
  .technologies__items {
    gap: 10px;
  }
  .item__title {
    display: none;
  }
  .social-list__link {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    line-height: 36px;
  }
  .footer__social {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 10px;
  }
  .social-list__item + .social-list__item {
    margin-left: 0px;
  }
  .social-list__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-list__img {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .title {
    margin-bottom: 35px;
  }
  .services,
  .projects,
  .technologies,
  .feedback {
    padding: 50px 0;
  }
  .footer {
    padding: 50px 0 10px;
  }
  .services__list {
    margin-left: 20px;
  }
  .modal__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mockups__devices {
    margin: 5px;
  }
  .devices__laptop {
    background-image: url("/images/tablet.svg");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    height: 244px;
    width: 340px;
  }
  .devices__laptop-screen {
    width: 282px;
    height: 197px;
    margin-top: 24px;
  }
  .devices__mobile {
    width: 140px;
  }
}

@media (max-width: 539px) {
  .modal__mockups {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .devices__mobile {
    width: 320px;
    height: 400px;
  }
  .devices__mobile-screen {
    width: 177px;
    height: 381px;
    margin-top: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .modal__inner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .table {
    margin-top: 0;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 380px) {
  .page {
    font-size: 14px;
  }
  .technologies__items {
    margin: 0;
  }
  .footer__social {
    margin: 0;
  }
  .main__title {
    max-width: 280px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  .main__text {
    font-size: 18px;
    line-height: 22px;
  }
  .title {
    font-size: 23px;
  }
  .item__title,
  .social-list__link {
    font-size: 14px;
  }
  .technologies__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__policy {
    font-size: 10px;
  }
}
