body, .services__list {
  font-family: "Raleway-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.hero__text {
  font-family: "Montserrat-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.hero__title, .title, .table__title {
  font-family: "Montserrat-Semibold", sans-serif;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Raleway-Light.woff2") format("woff2"), url("/fonts/Raleway-Light.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Raleway-Regular.woff2") format("woff2"), url("/fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Semibold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-Semibold.woff2") format("woff2"), url("/fonts/Montserrat-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Boldold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat-Boldold.woff2") format("woff2"), url("/fonts/Montserrat-Boldold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: background 0.5s ease, color 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease;
}

.page--dark {
  background: #111111;
  color: #ffffff;
}

.page--light {
  background: #fff;
  color: #333;
}

.page--disabled {
  overflow-y: hidden;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  z-index: 11;
}

.page--dark .preloader {
  background: #111 url("/images/loader.svg") no-repeat center center;
}

.page--light .preloader {
  background: #fff url("/images/loader.svg") no-repeat center center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page--dark .header__logo path {
  fill: #ffffff;
}

.page--light .header__logo path {
  fill: #333333;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__nav-toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 20px;
  z-index: 10;
}

.header__nav-line {
  width: 100%;
  height: 2px;
  background-color: #aaa;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header__nav-toggle--active .header__nav-line:first-child {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.header__nav-toggle--active .header__nav-line:nth-child(2) {
  opacity: 0;
}

.header__nav-toggle--active .header__nav-line:last-child {
  -webkit-transform: translateY(-9px) rotate(135deg);
          transform: translateY(-9px) rotate(135deg);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__menu-item + .header__menu-item {
  margin-left: 45px;
}

.header__menu-link {
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.3s;
  transition: -webkit-text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
  -webkit-transition: text-decoration-color 0.3s;
  -moz-transition: text-decoration-color 0.3s;
  -ms-transition: text-decoration-color 0.3s;
  -o-transition: text-decoration-color 0.3s;
}

.header__menu-link:hover {
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  -moz-text-decoration-color: inherit;
}

.header__theme:hover {
  cursor: pointer;
}

.page--dark .header__theme::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("/images/switch-dark.svg");
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  z-index: 1;
}

.header__theme {
  position: relative;
  width: 18px;
  height: 22px;
  display: block;
}

.page--light .header__theme::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("/images/switch-light.svg");
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  z-index: 1;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: default;
}

.header__lang-img {
  margin-left: 5px;
  width: 8px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.header__lang-link--disabled {
  display: inline;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  padding-top: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__lang:hover .header__lang-link--disabled {
  opacity: 1;
  visibility: visible;
}

.header__lang:hover .header__lang-img {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.page--dark .header__lang-img--dark {
  display: inline;
}

.page--dark .header__lang-img--light {
  display: none;
}

.page--light .header__lang-img--light {
  display: inline;
}

.page--light .header__lang-img--dark {
  display: none;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 860px;
  margin: 0 auto;
  padding: 100px 0;
}

.hero__title {
  font-size: 40px;
  line-height: 49px;
  width: 450px;
  animation: slide-in-left 1s ease-in-out both;
  -webkit-animation: slide-in-left 1s ease-in-out both;
}

.hero__img {
  animation: slide-in-right 1s ease-in-out both;
  -webkit-animation: slide-in-right 1s ease-in-out both;
}

.hero__text {
  display: inline-block;
  font-size: 30px;
  line-height: 37px;
  color: #222222;
  background: #ecd6b6;
  padding: 5px 10px;
}

.hero__img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 0;
}

.services,
.projects,
.technologies {
  padding: 80px 0;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.page--dark .services,
.page--dark .technologies {
  background: #222222;
}

.page--light .services {
  background-color: #fafafa;
}

.page--light .technologies {
  background-color: #fafafa;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__img {
  display: block;
}

.page--dark .services__img--dark {
  display: block;
}

.page--dark .services__img--light {
  display: none;
}

.page--light .services__img--light {
  display: block;
}

.page--light .services__img--dark {
  display: none;
}

.services__list {
  max-width: 460px;
  margin-left: 30px;
}

.services__list-item + .services__list-item {
  margin-top: 15px;
}

.table__list {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.services__list-item,
.table__list-item {
  list-style-type: '\2014';
  padding-left: 10px;
}

@media (min-width: 769px) {
  .items__wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 991px) {
  .items__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.projects .container {
  min-width: 0;
}

.items__img {
  display: block;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.items__img:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(102, 102, 102, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(102, 102, 102, 0.2);
}

.items__slide:nth-child(1) {
  margin-top: 60px;
}

.items__slide:nth-child(3) {
  margin-top: 60px;
}

.items__slide:nth-child(5) {
  margin-top: -60px;
}

.technologies__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technologies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

.item__img {
  height: 50px;
  width: 50px;
}

.page--dark .item__img--dark {
  display: block;
}

.page--dark .item__img--light {
  display: none;
}

.page--light .item__img--light {
  display: block;
}

.page--light .item__img--dark {
  display: none;
}

.feedback {
  padding: 80px 0;
}

.feedback__item {
  position: relative;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #fff;
  color: #333;
  -webkit-box-shadow: #bbb 0px 1px 3px;
          box-shadow: #bbb 0px 1px 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.feedback__items .slick-track {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__items .slick-list {
  overflow: visible;
}

.feedback__item::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 27px;
  background-image: url("/images/quote.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -7px;
  top: -18px;
}

.feedback__text {
  margin: 0;
  padding: 0;
}

.feedback__link {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.feedback__author {
  color: #000;
}

.swiper-slide {
  height: unset;
}

.swiper-pagination-bullet {
  background-color: #e8cba0;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #e0ad62;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.feedback__items.swiper-container {
  padding: 20px;
  margin: -20px;
}

.feedback__items .swiper-wrapper {
  margin-bottom: 15px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.footer {
  background-color: #e0bc86;
  padding: 70px 0 15px;
  color: #333333;
}

.footer__inner {
  max-width: 900px;
  margin: 0 auto;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin-bottom: 80px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.3s;
  transition: -webkit-text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
  -webkit-transition: text-decoration-color 0.3s;
  -moz-transition: text-decoration-color 0.3s;
  -ms-transition: text-decoration-color 0.3s;
  -o-transition: text-decoration-color 0.3s;
}

.social-list__link:hover {
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  -moz-text-decoration-color: inherit;
}

.social-list__item + .social-list__item {
  margin-left: 25px;
}

.social-list__img {
  margin-bottom: 10px;
}

.social-list__img {
  vertical-align: middle;
}

.footer__policy {
  text-align: center;
  font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 20px 0;
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: -1;
}

.modal--opened {
  display: block;
  z-index: 10;
}

.page--light .modal {
  color: #fff;
}

.modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.modal__table {
  font-size: 12px;
  border-spacing: 0;
}

.table__row {
  vertical-align: top;
}

.table__list {
  margin: 0;
}

.table__link {
  text-decoration: underline;
}

.modal__close {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal__mockups {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.devices__laptop {
  background-image: url("/images/laptop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 293px;
}

.devices__laptop-screen {
  width: 390px;
  height: 253px;
  margin: 0 auto;
  margin-top: 8px;
  display: block;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mockups__devices {
  margin: 0 5px;
}

.mockups__laptop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.devices__mobile {
  background-image: url("/images/mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 146px;
  height: 293px;
  z-index: 1000;
}

.devices__mobile-screen {
  width: 129px;
  height: 280px;
  margin: 0 auto;
  margin-top: 7px;
  display: block;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: -1;
}

.mockups__mobile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.top-btn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: url("/images/top-btn.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  background-color: rgba(170, 170, 170, 0.7);
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-btn--visible {
  opacity: 1;
  visibility: visible;
}

.js-scroll {
  opacity: 0;
}

.scrolled.slide-right {
  animation: slide-in-right 0.5s ease-in-out both;
  -webkit-animation: slide-in-right 0.5s ease-in-out both;
}

@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.scrolled.slide-left {
  animation: slide-in-left 0.5s ease-in-out both;
  -webkit-animation: slide-in-left 0.5s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.scrolled.slide-top {
  animation: slide-in-top 0.5s ease-in-out both;
  -webkit-animation: slide-in-top 0.5s ease-in-out both;
}

@-webkit-keyframes slide-in-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .modal__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .table {
    margin-top: 10px;
  }
  .table__list-item + .table__list-item {
    margin-top: 0;
  }
  .devices__laptop {
    width: 365px;
    height: 210px;
  }
  .devices__laptop-screen {
    width: 285px;
    height: 182px;
  }
  .devices__mobile {
    height: 210px;
  }
  .devices__mobile-screen {
    width: 92px;
    height: 200px;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

@media (max-width: 991px) {
  .hero__title {
    font-size: 35px;
    line-height: 42px;
    width: 400px;
  }
  .hero__text {
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .hero__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title {
    margin-bottom: 60px;
  }
  .services,
  .projects,
  .technologies {
    padding: 60px 0;
  }
  .footer {
    padding: 60px 0 15px;
  }
  .items__slide:nth-child(1) {
    margin-top: 0;
  }
  .items__slide:nth-child(3) {
    margin-top: 0;
  }
  .items__slide:nth-child(5) {
    margin-top: 0;
  }
  .footer__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .social-list__item {
    margin-bottom: 20px;
  }
  .services__img {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .feedback__item.slick-slide {
    margin: 0 10px;
  }
  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .hero__img {
    width: 200px;
    height: 200px;
  }
  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__img {
    margin-bottom: 20px;
  }
  .services__list {
    margin-left: 0;
  }
  .header__menu-item {
    font-size: 16px;
  }
  .header__menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 50px;
    height: 100vh;
    -webkit-backdrop-filter: blur(60px);
            backdrop-filter: blur(60px);
    z-index: 10;
  }
  .header__menu--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu-item + .header__menu-item {
    margin: 0;
    margin-top: 30px;
  }
  .header__nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 12;
    cursor: pointer;
  }
  .header__lang:focus .header__lang-link--disabled {
    display: inline;
  }
  .header__lang:focus .header__lang-img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .items__img {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .page {
    font-size: 16px;
  }
  .hero__inner {
    padding: 35px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero__title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 320px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 26px;
  }
  .technologies__items {
    gap: 10px;
  }
  .item__title {
    display: none;
  }
  .social-list__link {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    line-height: 36px;
  }
  .footer__social {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 10px;
  }
  .social-list__item + .social-list__item {
    margin-left: 0px;
  }
  .social-list__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-list__img {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .title {
    margin-bottom: 35px;
  }
  .services,
  .projects,
  .technologies,
  .feedback {
    padding: 50px 0;
  }
  .footer {
    padding: 50px 0 10px;
  }
  .services__list {
    margin-left: 20px;
  }
  .modal__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mockups__devices {
    margin: 5px;
  }
  .devices__laptop {
    background-image: url("/images/tablet.svg");
    background-size: 100% 100%;
    height: 244px;
    width: 340px;
  }
  .devices__laptop-screen {
    width: 282px;
    height: 197px;
    margin-top: 24px;
  }
  .devices__mobile {
    width: 140px;
  }
}

@media (max-width: 539px) {
  .modal__mockups {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .devices__mobile {
    width: 320px;
    height: 400px;
  }
  .devices__mobile-screen {
    width: 177px;
    height: 381px;
    margin-top: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .modal__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .table {
    margin-top: 0;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 380px) {
  .page {
    font-size: 14px;
  }
  .technologies__items {
    margin: 0;
  }
  .footer__social {
    margin: 0;
  }
  .hero__title {
    max-width: 280px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }
  .title {
    font-size: 23px;
  }
  .item__title,
  .social-list__link {
    font-size: 14px;
  }
  .technologies__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__policy {
    font-size: 10px;
  }
}
