@media (max-width: 1024px) {
  .modal__inner {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .table {
    margin-top: 10px;
  }
  .table__list-item + .table__list-item {
    margin-top: 0;
  }
  .devices__laptop {
    width: 365px;
    height: 210px;
  }
  .devices__laptop-screen {
    width: 285px;
    height: 182px;
  }
  .devices__mobile {
    height: 210px;
  }
  .devices__mobile-screen {
    width: 92px;
    height: 200px;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

@media (max-width: 991px) {
  .hero__title {
    font-size: 35px;
    line-height: 42px;
    width: 400px;
  }
  .hero__text {
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .hero__inner {
    justify-content: center;
  }
  .title {
    margin-bottom: 60px;
  }
  .services,
  .projects,
  .technologies {
    padding: 60px 0;
  }
  .footer {
    padding: 60px 0 15px;
  }
  .items__slide:nth-child(1) {
    margin-top: 0;
  }
  .items__slide:nth-child(3) {
    margin-top: 0;
  }
  .items__slide:nth-child(5) {
    margin-top: 0;
  }
  .footer__social {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .social-list__item {
    margin-bottom: 20px;
  }
  .services__img {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .feedback__item.slick-slide {
    margin: 0 10px;
  }
  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .hero__img {
    width: 200px;
    height: 200px;
  }
  .services__inner {
    flex-wrap: wrap;
  }
  .services__img {
    margin-bottom: 20px;
  }
  .services__list {
    margin-left: 0;
  }
  .header__menu-item {
    font-size: 16px;
  }
  .header__menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px;
    height: 100vh;
    backdrop-filter: blur(60px);
    z-index: 10;
  }
  .header__menu--visible {
    opacity: 1;
    visibility: visible;
  }

  .header__menu-item + .header__menu-item {
    margin: 0;
    margin-top: 30px;
  }
  .header__nav-toggle {
    display: flex;
    z-index: 12;
    cursor: pointer;
  }
  .header__lang:focus .header__lang-link--disabled {
    display: inline;
  }
  .header__lang:focus .header__lang-img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .items__img {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .page {
    font-size: 16px;
  }
  .hero__inner {
    padding: 35px 0;
    flex-direction: column;
  }
  .hero__img {
    order: 1;
  }
  .hero__title {
    order: 2;
    max-width: 320px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
  .hero__text {
    font-size: 20px;
    line-height: 26px;
  }

  .technologies__items {
    gap: 10px;
  }
  .item__title {
    display: none;
  }
  .social-list__link {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    line-height: 36px;
  }
  .footer__social {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
  }
  .social-list__item + .social-list__item {
    margin-left: 0px;
  }
  .social-list__link {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social-list__img {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .title {
    margin-bottom: 35px;
  }
  .services,
  .projects,
  .technologies,
  .feedback {
    padding: 50px 0;
  }
  .footer {
    padding: 50px 0 10px;
  }
  .services__list {
    margin-left: 20px;
  }
  .modal__inner {
    flex-direction: column;
  }
  .mockups__devices {
    margin: 5px;
  }
  .devices__laptop {
    background-image: url("/images/tablet.svg");
    background-size: 100% 100%;
    height: 244px;
    width: 340px;
  }
  .devices__laptop-screen {
    width: 282px;
    height: 197px;
    margin-top: 24px;
  }
  .devices__mobile {
    width: 140px;
  }
}

@media (max-width: 539px) {
  .modal__mockups {
    flex-direction: column;
    justify-content: center;
  }
  .modal {
    overflow-y: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .devices__mobile {
    width: 320px;
    height: 400px;
  }
  .devices__mobile-screen {
    width: 177px;
    height: 381px;
    margin-top: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .modal__inner {
    justify-content: flex-start;
  }
  .table {
    margin-top: 0;
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 380px) {
  .page {
    font-size: 14px;
  }
  .technologies__items {
    margin: 0;
  }
  .footer__social {
    margin: 0;
  }
  .hero__title {
    max-width: 280px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }
  .title {
    font-size: 23px;
  }
  .item__title,
  .social-list__link {
    font-size: 14px;
  }
  .technologies__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__policy {
    font-size: 10px;
  }
}
