// @media (min-width: 1024px) {
//   .devices__laptop-screen::-webkit-scrollbar,
//   .devices__mobile-screen::-webkit-scrollbar {
//     width: 12px;
//     background-color: #ccc;
//     border-radius: 0 3px 3px 0;
//     -webkit-border-radius: 0 3px 3px 0;
//     -moz-border-radius: 0 3px 3px 0;
//     -ms-border-radius: 0 3px 3px 0;
//     -o-border-radius: 0 3px 3px 0;
//   }

//   .devices__laptop-screen::-webkit-scrollbar-thumb,
//   .devices__mobile-screen::-webkit-scrollbar-thumb {
//     background: #666;
//     border-radius: 3px;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     -ms-border-radius: 3px;
//     -o-border-radius: 3px;
//     overflow: hidden;
//   }

//   .devices__mobile-screen::-webkit-scrollbar {
//     border-radius: 0 15px 15px 0;
//     -webkit-border-radius: 0 15px 15px 0;
//     -moz-border-radius: 0 15px 15px 0;
//     -ms-border-radius: 0 15px 15px 0;
//     -o-border-radius: 0 15px 15px 0;
//   }
// }

@media (max-width: 1024px) {
  .modal__inner {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .table {
    margin-top: 10px;
  }
  .table__list-item + .table__list-item {
    margin-top: 0;
  }
  .devices__laptop {
    width: 365px;
    height: 210px;
  }
  .devices__laptop-screen {
    width: 285px;
    height: 182px;
  }
  .devices__mobile {
    height: 210px;
  }
  .devices__mobile-screen {
    width: 92px;
    height: 200px;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

@media (max-width: 991px) {
  .main__title {
    font-size: 35px;
    line-height: 42px;
    width: 400px;
  }
  .main__text {
    display: inline-block;
    font-size: 25px;
    line-height: 30px;
  }
  .main__inner {
    justify-content: center;
  }
  .title {
    margin-bottom: 60px;
  }
  .services,
  .projects,
  .technologies {
    padding: 60px 0;
  }
  .footer {
    padding: 60px 0 15px;
  }
  .projects__items {
    grid-template-columns: 300px 300px;
    gap: 20px;
    justify-content: center;
  }
  .items__img:nth-child(1) {
    margin-top: 0;
  }
  .items__img:nth-child(3) {
    margin-top: 0;
  }
  .items__img:nth-child(5) {
    margin-top: 0;
  }
  .item__img {
    width: 50px;
    height: 50px;
  }
  .footer__social {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .social-list__item {
    margin-bottom: 20px;
  }
  .services__img {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .main__img {
    width: 200px;
  }
  .services__inner {
    flex-wrap: wrap;
  }
  .services__img {
    margin-bottom: 20px;
  }
  .services__list {
    margin-left: 0;
  }
  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
  .header__menu-item {
    font-size: 16px;
  }
  .projects__items {
    display: block;
  }
  .items__img {
    margin: 0 10px;
    width: 300px;
  }
  .slick-dots li button:before {
    font-size: 25px;
    line-height: 32px;
    color: #e8cba0;
    opacity: 1;
  }
  .slick-dots li.slick-active button:before {
    color: #e0ad62;
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .page {
    font-size: 16px;
  }
  .header__menu {
    display: none;
  }
  .header__menu--visible {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: start;
  }
  .header__menu-item + .header__menu-item {
    margin: 0;
    margin-top: 30px;
  }
  .header__nav-toggle {
    display: flex;
    z-index: 102;
  }
  .main__inner {
    padding: 35px 0;
    flex-direction: column;
  }
  .main__img {
    order: 1;
  }
  .main__title {
    order: 2;
    max-width: 320px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
  .main__text {
    font-size: 20px;
    line-height: 26px;
  }

  .technologies__items {
    gap: 10px;
  }
  .item__title {
    display: none;
  }
  .social-list__link {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    line-height: 36px;
  }
  .footer__social {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
  }
  .social-list__item + .social-list__item {
    margin-left: 0px;
  }
  .social-list__link {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social-list__img {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .title {
    margin-bottom: 35px;
  }
  .services,
  .projects,
  .technologies {
    padding: 35px 0;
  }
  .footer {
    padding: 35px 0 10px;
  }
  .services__list {
    margin-left: 20px;
  }
  .modal__inner {
    flex-direction: column;
  }

  .modal__mockups {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .page {
    font-size: 14px;
  }
  .technologies__items {
    margin: 0;
  }
  .footer__social {
    margin: 0;
  }
  .main__title {
    max-width: 280px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  .main__text {
    font-size: 18px;
    line-height: 22px;
  }
  .title {
    font-size: 23px;
  }
  .item__title,
  .social-list__link {
    font-size: 14px;
  }
  .technologies__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__policy {
    font-size: 10px;
  }
}
