@import url('/scss/fonts.scss');
@import url('/scss/vars.scss');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}








@import url('/scss/media.scss');