@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  @extend %raleway-regular;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.page--dark {
  background-color: #222222;
  color: #ffffff;
}

.page--light {
  background-color: #fff;
  color: #333;
}

.page--disabled {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page--dark .header__logo path {
  fill: #ffffff;
}

.page--light .header__logo path {
  fill: #333333;
}

.header__nav {
  display: flex;
  align-items: flex-end;
}
.header__nav-toggle {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  z-index: 101;
}
.header__nav-line {
  width: 100%;
  height: 2px;
  background-color: #aaa;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header__nav-toggle--active {
  .header__nav-line:first-child {
    transform: translateY(9px) rotate(45deg);
  }
  .header__nav-line:nth-child(2) {
    opacity: 0;
  }
  .header__nav-line:last-child {
    transform: translateY(-9px) rotate(135deg);
  }
}

.header__menu {
  display: flex;
  align-items: flex-end;
}

.header__menu-item + .header__menu-item {
  margin-left: 45px;
}
.header__menu-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
  -webkit-transition: text-decoration-color 0.3s;
  -moz-transition: text-decoration-color 0.3s;
  -ms-transition: text-decoration-color 0.3s;
  -o-transition: text-decoration-color 0.3s;
}

.header__menu-link:hover {
  text-decoration-color: inherit;
  -moz-text-decoration-color: inherit;
}

.header__theme:hover {
  cursor: pointer;
}

.page--dark .header__theme::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("/images/switch-dark.svg");
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  z-index: 1000;
}

.header__theme {
  position: relative;
  width: 18px;
  height: 22px;
  display: block;
}

.page--light .header__theme::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("/images/switch-light.svg");
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  z-index: 1000;
}

.header__lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: default;
}

.header__lang-img {
  margin-left: 5px;
  width: 8px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.header__lang-link--disabled {
  display: inline;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  padding-top: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.header__lang:hover .header__lang-link--disabled {
  opacity: 1;
  visibility: visible;
}

.header__lang:hover .header__lang-img {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.page--dark .header__lang-img--dark {
  display: inline;
}
.page--dark .header__lang-img--light {
  display: none;
}
.page--light .header__lang-img--light {
  display: inline;
}
.page--light .header__lang-img--dark {
  display: none;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 860px;
  margin: 0 auto;
  padding: 100px 0;
}

.hero__title {
  @extend %montserrat-semibold;
  font-size: 40px;
  line-height: 49px;
  width: 450px;
  animation: slide-in-left 1s ease-in-out both;
  -webkit-animation: slide-in-left 1s ease-in-out both;
}
.hero__img {
  animation: slide-in-right 1s ease-in-out both;
  -webkit-animation: slide-in-right 1s ease-in-out both;
}
.hero__text {
  @extend %montserrat-medium;
  display: inline-block;
  font-size: 30px;
  line-height: 37px;
  color: #222222;
  background: #ecd6b6;
  padding: 5px 10px;
}

.hero__img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.title {
  @extend %montserrat-semibold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 0;
}

.services,
.projects,
.technologies {
  padding: 80px 0;
}

.page--dark .services,
.page--dark .technologies {
  background-color: #333333;
}

.page--light .services {
  background-color: #fafafa;
}

.page--light .technologies {
  background-color: #fafafa;
}

.services__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__img {
  display: block;
}

.page--dark .services__img--dark {
  display: block;
}
.page--dark .services__img--light {
  display: none;
}

.page--light .services__img--light {
  display: block;
}

.page--light .services__img--dark {
  display: none;
}

.services__list {
  @extend %raleway-regular;
  max-width: 460px;
  margin-left: 30px;
}

.services__list-item + .services__list-item {
  margin-top: 15px;
}

.table__list {
  padding-inline-start: 10px;
}

.services__list-item,
.table__list-item {
  list-style-type: "\2014";
  padding-left: 10px;
}

@media (min-width: 769px) {
  .items__wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
    justify-content: center;
  }
}

@media (min-width: 991px) {
  .items__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.projects .container {
  min-width: 0;
}

.items__img {
  display: block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.items__img:hover {
  cursor: pointer;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.items__slide:nth-child(1) {
  margin-top: 60px;
}

.items__slide:nth-child(3) {
  margin-top: 60px;
}
.items__slide:nth-child(5) {
  margin-top: -60px;
}

.technologies__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.technologies__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item__title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

.item__img {
  height: 50px;
  width: 50px;
}

.page--dark .item__img--dark {
  display: block;
}
.page--dark .item__img--light {
  display: none;
}

.page--light .item__img--light {
  display: block;
}
.page--light .item__img--dark {
  display: none;
}

.feedback {
  padding: 80px 0;
}

.feedback__item {
  position: relative;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #fff;
  color: #333;
  box-shadow: #bbb 0px 1px 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.feedback__items .slick-track {
  justify-content: stretch;
  display: flex;
}

.feedback__items .slick-list {
  overflow: visible;
}

.feedback__item::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 27px;
  background-image: url("/images/quote.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: -7px;
  top: -18px;
}

.feedback__text {
  margin: 0;
  padding: 0;
}

.feedback__link {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.feedback__author {
  color: #000;
}

.swiper-slide {
  height: unset;
}

.swiper-pagination-bullet {
  background-color: #e8cba0;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #e0ad62;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.feedback__items.swiper-container {
  padding: 20px;
  margin: -20px;
}
.feedback__items .swiper-wrapper {
  margin-bottom: 15px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.footer {
  background-color: #e0bc86;
  padding: 70px 0 15px;
  color: #333333;
}

.footer__inner {
  max-width: 900px;
  margin: 0 auto;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 80px;
}

.social-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
  -webkit-transition: text-decoration-color 0.3s;
  -moz-transition: text-decoration-color 0.3s;
  -ms-transition: text-decoration-color 0.3s;
  -o-transition: text-decoration-color 0.3s;
}

.social-list__link:hover {
  text-decoration-color: inherit;
  -moz-text-decoration-color: inherit;
}

.social-list__item + .social-list__item {
  margin-left: 25px;
}

.social-list__img {
  margin-bottom: 10px;
}

.social-list__img {
  vertical-align: middle;
}

.footer__policy {
  text-align: center;
  font-size: 14px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 20px 0;
  background-color: rgba(#333333, 0.8);
  backdrop-filter: blur(30px);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: -1;
}

.modal--opened {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.page--light .modal {
  color: #fff;
}

.modal__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.modal__table {
  font-size: 12px;
  border-spacing: 0;
}

.table__row {
  vertical-align: top;
}

.table__title {
  @extend %montserrat-semibold;
}

.table__list {
  margin: 0;
}

.table__link {
  text-decoration: underline;
}

.modal__close {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal__mockups {
  position: relative;
  display: flex;
  align-items: center;
}

.devices__laptop {
  background-image: url("/images/laptop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 293px;
}

.devices__laptop-screen {
  width: 390px;
  height: 253px;
  margin: 0 auto;
  margin-top: 8px;
  display: block;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mockups__devices {
  margin: 0 5px;
}

.mockups__laptop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.devices__mobile {
  background-image: url("/images/mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 146px;
  height: 293px;
  z-index: 1000;
}

.devices__mobile-screen {
  width: 129px;
  height: 280px;
  margin: 0 auto;
  margin-top: 7px;
  display: block;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: -1;
}

.mockups__mobile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.top-btn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: url("/images/top-btn.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  background-color: rgba(#aaa, 0.7);
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.top-btn--visible {
  opacity: 1;
  visibility: visible;
}

.js-scroll {
  opacity: 0;
}
.scrolled.slide-right {
  animation: slide-in-right 0.5s ease-in-out both;
  -webkit-animation: slide-in-right 0.5s ease-in-out both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.scrolled.slide-left {
  animation: slide-in-left 0.5s ease-in-out both;
  -webkit-animation: slide-in-left 0.5s ease-in-out both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.scrolled.slide-top {
  animation: slide-in-top 0.5s ease-in-out both;
  -webkit-animation: slide-in-top 0.5s ease-in-out both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@import "media";
